*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ff: "Roboto", sans-serif;
    --clr-header: #e8a5ee;
    --clr-font: #242424;
    --clr-ff-hover: white;
    --clr-hover: #646464;

}
body{
    font-family: var(--ff);
    user-select: none;
}

/* Esconde o icone do checkbox e o ☰ para telas acima de 600px*/
#hamburger {
  display: none;
}
.icone{
    display: none;
    transition: 0.3s ease-in-out;
}

.ul-container{
    background-color: var(--clr-header);
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.5rem;

    z-index: -1;
}

/* Estiliza o navbar para telas acima de 600px */
.ul-container ul{
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 120px;

    
}
.ul-container li{
    list-style: none;
}

.ul-container ul li a{
    transition: 0.3s ease-in-out;
}

.ul-container ul li a:hover{
    color: var(--clr-ff-hover);
}

.ul-container li a {
    text-decoration: none;
    color: var(--clr-font);
}

@media (max-width: 600px){
    /* Estiliza o ícone do menu hambúrguer */
    .ul-container{
        background-color: var(--clr-header);
        padding: 10px;
        width: 95%;
    }

    .ul-container ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 20px;
        margin-top: 40px;  
    }

    .ul-container ul li{
        margin: 10px;
    }

    .icone {
        display: block;
        position: absolute;
        top: 20px;
        left: 40px;
        cursor: pointer;
        font-size: 2em;
        color: var(--clr-font);
        padding: 10px;
    }

    .icone:hover{
        color: var(--clr-hover);
    }

    .ul-container {
        display: none;
    }
}